workflows/healthcare-rag.n8n.json
{
  "name": "Healthcare RAG \u2014 ingest & query",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ask",
        "responseMode": "lastNode"
      },
      "name": "Webhook (ask)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "e909c28f-b6ce-4bb0-90f8-c27466d12094"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/query",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"question\": $json.body.question, \"k\": 3 } }}",
        "options": {}
      },
      "name": "Healthcare RAG /query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "answer",
              "value": "={{ $json.answer }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "sources",
              "value": "={{ $json.sources }}",
              "type": "array"
            },
            {
              "id": "a3",
              "name": "disclaimer",
              "value": "={{ $json.disclaimer }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Shape response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        300
      ]
    }
  ],
  "connections": {
    "Webhook (ask)": {
      "main": [
        [
          {
            "node": "Healthcare RAG /query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Healthcare RAG /query": {
      "main": [
        [
          {
            "node": "Shape response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "id": "healthrag001",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1"
}